{{!--
This subscribe template is used to display the form where users can subscribe.
You need to enable the members feature first.
--}}

<div class="m-subscribe-section__form">
    <div class="m-subscribe__form">
      <a href="#/portal" id="newsletter-button" class="m-button primary block">{{t "Subscribe"}}</a>
    </div>
</div>
